# Переименуй этот файл в .env и заполни своими данными

SECRET_KEY=vodokanal-rostov-super-secret-key-change-me
DATABASE_URL=postgresql://postgres:password@localhost:5432/vodokanal_db
FLASK_APP=run.py
FLASK_ENV=development
